@import "./reset.css";

@import "./reset.css";

.container {
    background-color: rgb(55, 55, 184);
    height: 100svh;
}

/* Do not change >>> */
.right {
    color: rgb(17, 174, 17);
}

.wrong {
    color: rgba(255, 61, 61, 0.995);
}

/* Can change >>>> */

.head {
    height: 80px;
    display: grid;
    place-items: center;
    margin-bottom: 70px;
}

.name {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.game{
    display: grid;
    justify-content: center;
}

.input {
    height: 60px;
    width: 300px;
    padding: 8px;
    border-radius: 5px;
}

.inner {
    margin: 20px;
}

.given {
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    color: white;
    opacity: 0.8;
}


.start {
    text-align: center;
}

.startBtn {
    height: 40px;
    width: 130px;
    font-weight: bold;
    border-radius: 3px;
}

.timer {
    display: flex;
    justify-content: center;
}

.timer-txt {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.restart {
    height: 40px;
    width: 130px;
    font-weight: bold;
    border-radius: 3px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: none;
    justify-content: center;
    /* align-items: center; */
}

.countdown {
    color: white;
    font-weight: bold;
    font-size: 500px;
}

.countdown{
    animation: 1s swell infinite;
}

@keyframes swell {
    0%, 100% {font-size: 500px; }
    50%{font-size: 700px;}
}

